
Herdez/Querys/Omar Scripts/1 Clientes_Auditoria.sql
Herdez/Querys/Omar Scripts/2 Recursos_Auditoria.sql
Herdez/Querys/Omar Scripts/Clientes - Auditoria Clientes x Log.sql
Herdez/Querys/Omar Scripts/Recursos - Auditoria.sql
