

 select * from [HSVDMDDBPPSQL].MDMHERDEZ.mdm.vwMDM_modeloproductos  
 where [número de recurso]in ('455D08','455D09','455D10','455D11'  )
    



SELECT*  FROM [HSVDMDDBPPSQL].[MVCMDMDB].[dbo].[RecursosDummy]  where clave in ('455D08','455D09','455D10','455D11'  )